html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: Avenir, Geneva, sans-serif;
  font-size: 100%;
  background:rgb(65, 25, 59);
  color: rgb(21, 26, 56);

  /* background:rgb(36, 4, 29); */
}
.wrap {
  width: 860px;
  padding: 50px;
  margin: 50px auto;
  background: white;
  border-radius: 50px;
  /* box-shadow: 0px 40px 60px 40px rgba(0, 0, 0, 0.38); */
  box-shadow: 0px 20px 100px 10px rgba(255, 255, 255, 0.30);
}
h1, h2, h3 {
  font-weight: normal;
}
h1, h2 {
  /* color: rgb(31, 23, 57); */
  font-weight: bold;
}
a {
  color: rgb(85, 13, 74);
  text-decoration: none;
}
a:hover {
  color: rgb(208, 51, 183);
  /* font-weight: bold; */
  text-decoration: underline;
}
pre {
  tab-size: 2;
}
hr {
  margin: 50px;
  background-color: rgb(96,	62,	93);
  border: none;
  height: 2px;
}
pre.code {
  color: rgb(220,220,220);
  background-color: rgb(36, 38, 51);
  padding: 15px 70px;
  box-shadow: inset 0px 20px 70px -20px rgb(0, 0, 0);
  width: 100;
  margin: 0 -50px;
}
.pre {
  white-space: pre-wrap;
  tab-size: 4;
}
img {
  width: 340px;
  border-radius: 5px;
  margin: 10px;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}
img:hover{
  transform: translateY(-7px);
  box-shadow: 0px 20px 30px 2px rgba(0, 0, 0, 0.3);
}
footer {
  text-align: center;
}
p{
  line-height: 1.6;
}
footer p{
  display: inline-block;
  font-size: 60px;
  margin: 0;
  opacity: 0.2;
  color: rgb(128, 30, 106);
  cursor: default;
  transition: opacity 200ms;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
            user-select: none;
}
footer p:hover{
  opacity: 1;
}
